* {
    box-sizing: border-box;
    font-family: monospace;
    text-transform: uppercase;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-color: #1135F9;
    margin: 0;
}

header{
    width: 100vw;
}

p {
    width: 120px;
    margin: 20px 35px;    
    border: 2px solid #A4FFBD;
    box-shadow: 5px 5px #A4FFBD;
    padding: 15px;
    font-weight: bolder;
    font-size: 1.5rem;
    float: left;
}

a {
    width: 120px;
    display: block;
    text-decoration: none;
    color: #A4FFBD;
}

a:hover {
    color: #fff;
}

h2 {
    font-size: 3em;
    letter-spacing: 0.1em;
    margin-bottom: 0;
}

#score {
    font-size: 2em;
}

.container {
    margin-top: -60px;
    color: #A4FFBD;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border: 2px solid #A4FFBD;
    box-shadow: 5px 5px #A4FFBD;
    padding: 20px 60px;
    padding-bottom: 5rem;
}

#canvas {
    border: 2px solid #A4FFBD;
    box-shadow: 5px 5px #A4FFBD;
    cursor: pointer;
}

.reset {
    padding: 15px;
    border: 2px solid #A4FFBD;
    box-shadow: 5px 5px #A4FFBD;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    cursor: pointer;
    font-weight: 600;
    color: #A4FFBD;
    background: #1135F9;
}

.reset:hover, p:hover {
    color: #1135F9;
    background: #A4FFBD;
    font-style: italic;
}
