* {
    box-sizing: border-box;
    font-family: monospace;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-color: #6D1059;
    margin: 0;
    text-transform: uppercase;
}

header{
    width: 100vw;
}

p {
    width: 120px;
    margin: 20px 35px;    
    border: 2px solid #FEFBF1;
    box-shadow: 5px 5px #FEFBF1;
    padding: 15px 0px;
    font-weight: bolder;
    font-size: 1.5rem;
    float: left;
    text-align: center;

}

a {
    width: 120px;
    display: block;
    text-decoration: none;
    color: #FEFBF1;
}

a:hover {
    color: #fff;
}

.container {
    margin-top: -60px;
    color: #FEFBF1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border: 2px solid #FEFBF1;
    box-shadow: 5px 5px #FEFBF1;
    padding: 20px 60px;
    padding-bottom: 3rem;
}

h2 {
    font-size: 3em;
    letter-spacing: 0.1em;
    margin-bottom: 0;
}

#inputs {
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

label {
    padding: 10px;
}

#colorInput, #numpInput {
    height: 40px;
    width: 50px;
}

input {
    height: 30px;
    width: 50px;
    padding: 4px;
    font-size: 1.2rem;
}

#canvas {
    cursor: pointer;
    box-shadow: 5px 5px #FEFBF1;
}

#grid {
    display: grid;
    position: absolute;
    pointer-events: none;
    border: 1px solid #FEFBF1;
}

#grid div{
    border: 0.5px solid grey;
}

#reset {
    padding: 15px;
    border: 2px solid #FEFBF1;
    box-shadow: 5px 5px #FEFBF1;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
    color: #FEFBF1;
    background: #6D1059;
}

#reset:hover, p:hover {
    color: white;
    background: #FEFBF1;
    font-style: italic;
}
